@import '../variables';

.root {
  display: inline-block;
  padding: ($gap / 8) ($gap / 4);
  border-radius: $radius;
  color: $black;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.125s ease-out;

  &:hover {
    background-color: rgba($black, 0.125);
  }

  &:active {
    background-color: rgba($black, 0.25);
  }
}
