$black: hsl(0, 0%, 4%);
$grey-darker: hsl(0, 0%, 21%);
$grey: hsl(0, 0%, 48%);
$grey-lighter: hsl(0, 0%, 86%);
$white: hsl(0, 0%, 100%);
$blue: hsl(217, 71%, 53%);
$family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
$gap: 32px;
$radius: 2px;

$button-active: $blue;

$body-size: 14px;
$body-family: $family-sans-serif;
